/*All fonts used in the specification are provided by GoogleFontsat at https://fonts.google.com/*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Background is used to centrally define various background properties(code adapted from
*https://developer.mozilla.org/zh-CN/docs/Web/CSS/background)
*/


/*The padding property controls the padding area of all four edges of the element.(code adapted from
*https://developer.mozilla.org/zh-CN/docs/Web/CSS/padding)
*/


/*The colorcss property sets the color value(code adapted from
*https://developer.mozilla.org/zh-CN/docs/Web/CSS/color)
*/

.div {
    background-position-x: center;
    background-size: 90% auto;
    width: 100%;
    background-color: black;
    padding: 1rem;
}

header {
    background: url(http://homepages.cs.ncl.ac.uk/harold.fellermann/csc8018/chessboxing/chessboxing_background.jpg) no-repeat;
    background-size: 100% auto;
    padding: 8rem;
    position: relative;
    background-color: #000;
    height: 300px;
}


/*The font size CSS property specifies the size of the font(code adapted from
*https://developer.mozilla.org/zh-CN/docs/Web/CSS/font-size)
*/

header h1 {
    position: absolute;
    left: 1em;
    top: 1em;
    font-size: 4em;
}

body {
    max-width: 100ch;
    margin: 0 auto 0 auto;
    position: relative;
    background: #969191;
    overflow-x: hidden;
    font-family: "Crimson Text";
    font-size: 14pt;
    font-family: 'Crimson Text', serif;
}

nav {
    display: flex;
    margin-right: auto;
    position: absolute;
    right: 3rem;
    bottom: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-left: auto;
}

nav ul:nth-child(1) {
    display: flex;
}

nav ul:nth-child(1)>li {
    padding: 0 1em;
    line-height: 2.5;
}

nav ul:nth-child(1)>li:hover a {
    color: #ffff00;
}

nav ul:nth-child(1)>li:hover {
    background: rgba(255, 255, 255, .5);
}

footer {
    text-align: center;
    padding: 2rem;
    background: #000;
    color: #fff;
}

footer>a {
    color: #fff;
}

section {
    background: #ffffff;
    padding: 2em 4em;
}


/* img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
} */

h1,
nav a {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
}


/*Text-decoration is used to set the appearance of the decorative line of the text(code adapted from
*https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-decoration)
*/

nav a {
    text-decoration: none;
}

h2 {
    color: #607293;
    margin-bottom: 1em;
}

h2>span {
    font-size: 50px;
}

p {
    line-height: 1.5;
}

ul {
    padding: 0 2em;
}

.p2 {
    line-height: 2;
}


/*Border is used to set various individual boundaries(code adapted from
*https://developer.mozilla.org/zh-CN/docs/Web/CSS/border)
*/

.seclist {
    border: 4px solid #bbbbbb;
    width: 60%;
    border-radius: 1em;
    text-align: center;
    padding: 1rem;
    float: right;
    clear: both;
}

.seclist>img {
    width: 100%;
}

.section>p {
    line-height: 2;
}

.maxwidth {
    width: 100%;
}

.sectext {
    margin-top: 2em;
}

.secmap {
    display: flex;
    margin-top: 2em;
    overflow: hidden;
}

.secmap>table {
    flex: 1;
    border-collapse: collapse;
}

.secmap>table tr:first-child {
    border-top: 1px solid #bbbbbb;
}

.secmap>table tr {
    height: 2em;
    border-bottom: 1px solid #bbbbbb;
}

.secmap>table tr td:nth-of-type(2) {
    text-align: left;
    padding-left: 1em;
}

.secmap>img {
    flex: 1;
}


/*With @ media query, you can define different styles for different media types.(code adapted from
*https://www.runoob.com/cssref/css3-pr-mediaquery.html)
*/

@media screen and (max-width: 600px) {
    nav {
        width: 100%;
        right: 0;
        font-family: 'Kanit', sans-serif;
    }
    nav ul:nth-child(1) {
        width: 100%;
        display: block;
        text-align: right;
    }
    section {
        padding: 1em;
    }
    .secmap {
        display: inline-block;
        margin-top: 2em;
        text-align: center;
    }
    .seclist {
        width: 100%;
    }
    header h1 {
        font-size: 2em;
        font-family: 'Kanit', sans-serif;
    }
}